extends layout
block content
  script
    $(function(){
        $('.container-fluid .row-fluid ul:eq(0) li:not(:first)').bind('click',function(){
            $(this).parent().children().each(function(){
                $(this).removeClass('active');
              });
            $(this).addClass('active');
          });
      });
  .container-fluid
      .row-fluid
        .span3
          .well.sidebar-nav
            ul.nav.nav-list
              li.nav-header 自由时间
              li
                a(href="/write") 写一篇
              li
                a(href="#") 列表Style
              li
                a(href="#") 时间线
              li
                a(href="#") 统计
            
        .span9
          .hero-unit
            h1 Hello, world!
            p.
              This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.
            p
              a(href="#", class="btn btn-primary btn-large") Learn more &raquo;
          
          .row-fluid
            .span4
              h2 Heading
              p.
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. 
              p
                a.btn(href="#") View details &raquo;
            <!--/span-->
            .span4
              h2 Heading
              p.
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. 
              p
                a.btn(href="#") View details &raquo;
            <!--/span-->
            .span4
              h2 Heading
              p.
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
              p
                a.btn(href="#") View details &raquo;
            <!--/span-->
          <!--/row-->
          .row-fluid
            .span4
              h2 Heading
              p.
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. 
              p
                a.btn(href="#") View details &raquo;
            <!--/span-->
            .span4
              h2 Heading
              p.
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. 
              p
                a.btn(href="#") View details &raquo;
            <!--/span-->
            .span4
              h2 Heading
              p.
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
              p
                a.btn(href="#") View details &raquo;
            <!--/span-->
        <!--/row-->
        <!--/span-->
      <!--/row-->

      hr

    <!--/.fluid-container-->