!!!
html(lang='zh-CN')
  block head
    meta(content='text/html; charset=UTF-8', http-equiv='Content-Type')
    //- title Bootstrap, from Twitter
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="")
     <!-- Placed at the end of the document so the pages load faster -->
    script(src="/jquery/jquery.js")
    script(src="/bootstrap/js/bootstrap-transition.js")
    script(src="/bootstrap/js/bootstrap-alert.js")
    script(src="/bootstrap/js/bootstrap-modal.js")
    script(src="/bootstrap/js/bootstrap-dropdown.js")
    script(src="/bootstrap/js/bootstrap-scrollspy.js")
    script(src="/bootstrap/js/bootstrap-tab.js")
    script(src="/bootstrap/js/bootstrap-tooltip.js")
    script(src="/bootstrap/js/bootstrap-popover.js")
    script(src="/bootstrap/js/bootstrap-button.js")
    script(src="/bootstrap/js/bootstrap-collapse.js")
    script(src="/bootstrap/js/bootstrap-carousel.js")
    script(src="/bootstrap/js/bootstrap-typeahead.js")
    script(src='moment/min/moment.min.js')
    script(src='moment/min/langs.min.js')
    <!-- Le styles -->
    link(href="/bootstrap/docs/assets/css/bootstrap.css",rel="stylesheet")
    link(href="/bootstrap/docs/assets/css/bootstrap-responsive.css",rel="stylesheet")
    style
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }

      @media (max-width: 980px) {
        /* Enable use of floated navbar text */
        .navbar-text.pull-right {
          float: none;
          padding-left: 5px;
          padding-right: 5px;
        }
      }
    
    <!-- Fav and touch icons -->
    link(rel="apple-touch-icon-precomposed",sizes="144x144", href="/bootstrap/docs/assets/ico/apple-touch-icon-144-precomposed.png")
    link(rel="apple-touch-icon-precomposed", sizes="114x114", href="/bootstrap/docs/assets/ico/apple-touch-icon-114-precomposed.png")
    link(rel="apple-touch-icon-precomposed", sizes="72x72", href="/bootstrap/docs/assets/ico/apple-touch-icon-72-precomposed.png")
    link(rel="apple-touch-icon-precomposed", href="../assets/ico/apple-touch-icon-57-precomposed.png")
    link(rel="shortcut icon", href="/bootstrap/docs/assets/ico/favicon.png")
   
    //if IE 8
    - var ie8 = 8;
    :coffeescript
      moment.lang 'zh-cn'
      if !window.localStorage || typeof(ie8)!='undefined'
        location.href = '/oldbrowser.html'
      
    block header
      title=process.env.SYSNAME
  //- body(style='background-color:#fafafa;')
  block body

  footer
    p.text-center.
      Copyright © 2013 - QETHAN