extends html

block body

  .navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
      .container-fluid
        input.btn.btn-navbar(type="button", data-toggle="collapse",data-target=".nav-collapse")
          span.icon-bar
          span.icon-bar
          span.icon-bar
        
        a.brand(href="#")= process.env.SYSNAME
        .nav-collapse.collapse
          ul.nav.navbar-text.pull-right
            //- li=user
            if user
              li
                a(href="#")=user
              li 
                a(href='/logout') sign out
            else
              li
                a(href='/signin') Sign in
              li
                a(href='/signup') Sign up
          ul.nav
            li.active 
              a(href="#") Home
            li
              a(href="#about") About
            li
              a(href="#contact") Contact
          <!--/.nav-collapse -->
     

  block content
   
