extends html

block body
  .navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
      .container-fluid
        input.btn.btn-navbar(type="button", data-toggle="collapse",data-target=".nav-collapse")
          span.icon-bar
          span.icon-bar
          span.icon-bar
        
        a.brand(href="#")= process.env.SYSNAME
        .nav-collapse.collapse
          p.navbar-text.pull-right
            |Logged in as 
            a(href="#",class="navbar-link") Username
          
          ul.nav
            li.active 
              a(href="#") Home
            li
              a(href="#about") About
            li
              a(href="#contact") Contact
          <!--/.nav-collapse -->
     

  block content
   
